/* 基本スタイル */


:root {
  /* Kanban Colors */
  --kanban-cream: #EACF96;
  --kanban-lavender: #E4DBE4;
  --kanban-blue-gray: #C8D8DF;
  --kanban-mint: #B9E1DD;
  --kanban-gold: #EDC369;
  --kanban-coral: #E96C7F;
  --kanban-sky: #7FAFD6;
  --kanban-cyan: #03B6C3;
  --kanban-green: #10B981;
}


/* Kanban App カスタムスタイル */

/* Kanbanカラーバックグラウンド */
.bg-kanban-blue-gray {
  background-color: var(--kanban-blue-gray);
}

.bg-kanban-mint {
  background-color: var(--kanban-mint);
}

.bg-kanban-lavender {
  background-color: var(--kanban-lavender);
}

.bg-kanban-cream {
  background-color: var(--kanban-cream);
}

.bg-kanban-sky {
  background-color: var(--kanban-sky);
}

.bg-kanban-green {
  background-color: var(--kanban-green);
}

.bg-kanban-gold {
  background-color: var(--kanban-gold);
}

.bg-kanban-coral {
  background-color: var(--kanban-coral);
}

